
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(75, 196, 159);
}

#left-col {
    height: 100%;
}

#center-col {
    height: 100%;
}

#main-content {
    display: flex;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 100px;
}

#right-col {
    height: 100%;
}

.control {
    background: #0fa6e2be;
    margin: 16px;
    color: white;
    width: 300px;
    height: 100px;
}

.control:focus {
    outline: none;
}

table {
    width: 800px;
    height: 500px;
}

td {
    background-color: white;
    text-align: center;
}